@import "tailwindcss";

@theme {
  --color-primary: #1772f6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: #ffffff; /* White background */
  color: #111827; 
}

html,
body,
#root {
  min-height: 100%;
}
